body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f0f0f0;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input, select, button {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background: lch(49.24% 39.18 259.46);
  color: white;
}

button.delete {
  background: rgb(252, 0, 0);
  color: white;
  border: none;
  padding: 5px 10px;
}